<!DOCTYPE html>
<html lang='en'>
<head>

	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="keywords" content="yoga, yoga teacher, certified yoga teacher, yoga instructor, certified yoga instructor, vinyasa yoga, vinyasa flow, vinyasa, yogi, buddha, buddhism, wellness, grateful, mindful, mindfulness, exercise, meditate, meditation, transcendental meditiation, fitness, health, workout, yoga workout, yoga training, stretch, flexible">
  <meta name="description" content="Suzy is an RYT-200 certified yoga instructor. Her challenging and rewarding vinyasa classes offer a chance to refresh and recharge your body. She also has experience teaching pilates and spin. Come on in and let's get fit!">

  <title>Gallery - Suzy Gordon Yoga</title>

  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

  <link href="schedule.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="sched_script.js"></script>
  <%= javascript_include_tag "sched_script" %>

</head>

<%= render 'shared_header' %>

<div id="main">

  <div id="title">
    <h1>Gallery</h1>
  </div>

  <div id="content">
    <h2>Coming Soon!</h2>
  </div>

</div>

<%= render 'shared_footer' %>