<footer>

  <br><hr><br>

  <div id="quotes">
  <h2 id="quote">"Yoga is the journey of the self, through the self, to the self." - The Bhagavad Gita</h2>
  </div>

  <br><hr> 

  <img src="http://i.imgur.com/gngFDD4.png" id="ryt" />

  <div id="contact">
    <h2>contact</h2>
    <p>General Inquiries /<br><a href="mailto:suzy@suzyogi.com">suzy@suzyogi.com</a></p>    
  </div>

  <br><br>

  <div id="copyright">
    <p>&copy;2015 Nicholas Tobat</p>
  </div>

</footer>



</body>
</html>